* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #1C2C40;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1300px;
}
@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.woff2') format('woff2'),
        url('Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('Poppins-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Medium.woff2') format('woff2'),
        url('Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

header{
    height: 100px;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 32px;

}
header div.left {
    display: flex;
}
header div.left h1 {
    width: 100%;
    margin-right: 40px;
}
header div.left h1 a {
    display: block;
    width: 100%;
}
header div.left h1 a img {
    display: block;
    margin: 20px 186px 0 40px;
}
header div.left ul {
    display: flex;
    align-items: center;
}
header div.left ul li:nth-child(1) {
    font-weight: 800;
    border-bottom: 2px solid #000;
}
header div.left ul li {
    margin-right: 40px;
}

header div.left ul li:last-child{
    margin-right: 0;
}
header div.right {
   
}
header div.right ul{
    display: flex;
    align-items: center;
}
header div.right ul li {
    margin: 13px 40px 0 0;
}
header div.right ul li a {

}
header div.right ul li a.button {
    padding: 17px 43px ;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #000;
}
#home {
   padding-top: 105px;
   background: url(../Assets/Landing-pic.jpg) no-repeat;
   background-size: 569px;
   background-position: right 186px bottom 104px;
   height: 690px;
}
#home section.container {
  
}
#home section.container h2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 30px;
}
#home section.container h4 {
    font-size:20PX ;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 60px;
}
#home section.container ul {
    display: flex;
    align-items: center;
}
#home section.container ul li {

}
#home section.container ul li a.button {
    padding: 17px 45px;
    border-radius: 1px;
    display: inline-block;
    border: 1px solid #000;
    background: #000;
    color: #fff;
    margin-right: 30px;
    display: inline-block;
}
#home section.container ul li a {
    font-size: 20px;
    font-weight: 700;
    margin-right: 30px;
    margin-top: 20px;
    display: inline-block;
}
#home section.container ul li a img {
    width: 40px;  
}
#home section.container div.bottom {
    display: flex;
    margin: 0 auto;
    margin-left: 281px;
    /* margin-bottom: 92px; */
    /* padding-bottom: 146px; */
}
#home section.container p{
    font-size: 20px;
    margin: 130px 0 20px 381px;
    color: grey;
}
#home section.container p b {
    color: #000;
}
#home section.container div.bottom div.image img {
    margin-right: 125px;
    max-width: 90px;
    align-items: center;
    margin-bottom: 40px;
}
#home section.container div.bottom div.images img {
    margin-right: 125px;
    max-width: 62px;
    align-items: center;
    margin-bottom: 40px;
}
#spotlight {
    background:#FFFCF3;
}
#spotlight h3 {
    /* color: grey; */
}
#spotlight h2 {
    margin-top: 20px;
    font-weight: bold;
    line-height: 54px;
    font-size: 37px;
}
#spotlight div.box {
    display: flex;
    justify-content: space-between;
}
#spotlight div.box div.left {
   display: block;
   width: 100%;
}
#spotlight div.box div.left img {
    max-width: 500px;
    border-radius: 5px;
    margin-top: 40px;
    margin-right: 40px;
}
#spotlight div.box div.right {
    display: block;
    width: 100%;
}
#spotlight div.box div.right p {
    font-size: 20px;
    margin-bottom: 60px;
}
#spotlight div.box div.right ul {

}
#spotlight div.box div.right ul li {
    font-size: 18px;
    line-height: 45px;
}
#spotlight div.box div.right ul li a {

}
#spotlight div.box div.right ul li a img {

}
#spotlight div.box div.right div.green {
    background: greenyellow;
    display: flex;
    padding: 28px 0 34px 0;
    justify-content: center;
    align-items: center;
    /* display: block; */
    /* width: 601px; */
    height: 138px;
}
#spotlight div.box div.right div.green div.item {
    width: 33.33%;
    height: 100px;
    margin: 0 auto;
    padding: 20px; 
    border-right: 1px solid #000;
}

#spotlight div.box div.right div.green div.item.middle {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    height: 83px;
   
}
#spotlight div.box div.right div.green div.item h3{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}
#spotlight div.box div.right div.green div.item h5{
    font-size: 23px;
    text-align: center;
    z-index: 2px;
    margin-bottom: 102px;
}
#services {
    
}
#services section.top {

}
#services section.top h3{
    color: grey;
    margin-top: 30px;
}
#services section.top h2 {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 48px;
}
#services section.top div.middle {
    display: flex;
    flex-wrap: wrap;
    border-radius: 1px solid #000;
}
#services section.top div.middle div.one {
    width: 427px;
    border: 1px solid #000;
    padding: 20px;
    display: block;
}
#services section.top div.middle div.one img {

}
#services section.top div.middle div.one h2 {

}
#services section.top div.middle div.one p {

}
#services section.top div.middle div.one a.button {

}
#services section.top div.middle div.two {
    width: 427px;
    border: 1px solid #000;
    padding: 20px;
    display: block;
}
#services section.top div.bottom {
    display: flex;
    justify-content: space-between;
}
#services section.top div.bottom p {
    font-weight: 900;
    margin: 40px 0 30px 10px;
}
#services section.top div.bottom a.button {
    border-radius: 2px;
    display: inline-block;
    padding: 22px 47px;
    background: #000;
    color: #fff;
    height: 61px;
    /* align-items: center; */
    margin-top: 31px;
    margin-bottom: 30px;
}